.account-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  .contact-info {
    // height: 100%;
  }
  .action-group {
    flex: 1;
  }
  .loading-control {
    height: auto !important;
  }
  .avatar {
    cursor: pointer;
  }
}
