.action-group {
  border-bottom: 1px solid #EEE;
  display: flex;
  flex-direction: column;
  .action-item {
    padding: 12px 0;
    text-align: center;
    background-color: #FFF;
    border-top: 1px solid #EEE;
    &.last {
      margin-top: auto;
    }
  }
}
.flex {
  display: flex;
}
