// 颜色变量，黑夜版
// 如何做白天版黑夜版：
// 1.引入不同变量，打包不同的CSS文件；
// 2.加不同的class，比如 night/day（使用这个那么下面的颜色都需要使用class给）
// 黑色背景
$bg: #fafafa;
// 内容黑色背景（稍微亮点）
$bg_2: #232323;
$bg_3: #2d2d2d;
$bg_4: #8a6118;
$bg_5: #e6cea3;
$bg_6: #1e1c1c;
// border颜色
$border: rgba(255, 255, 255, 0.1);
// border颜色2
$border_2: #505050;
$border_3: #f6ca71;

// 主题颜色
$themeColor_1: #e2bc79;
// 主题颜色2
$themeColor_2: #d6ae68;
// 主题颜色3
$themeColor_3: #d4b171;
// 主题颜色4
$themeColor_4: #f1e0b3;
$themeColor_5: #9d7327;
$themeColor_6: #724517;
$themeColor_7: #b89659;
// 渐变
$linear: linear-gradient(to right, #d7ae69, #f8ebc7);
// 渐变2
$linear_2: linear-gradient(to right, #d8be7d, #ab823a);
// 渐变3
$linear_3: linear-gradient(to bottom, #f8eac4, #d8b06b);
$linear_7: linear-gradient(to bottom, #fff, #f8ebc7);

$linear_5: linear-gradient(to top, #d8b06b, #ab823a);
// 渐变4
$linear_4: linear-gradient(to bottom, #222222, #2e2e2e);

$linear_6: linear-gradient(to top right, #d6b06a, #a56e2e);
$linear_8: linear-gradient(to right, #eac878, #c99944);
$linear_9: linear-gradient(to bottom right, #d3b265, #b88a3a);
$linear_10: linear-gradient(to right, #a56e2e, #b88a3a);

// 渐变里面的字体颜色
$linear_color: #442e06;

$shadow: 1px 4px 10px rgba(0, 0, 0, 1);

// 一般字体颜色
// 亮点字体颜色
$color: #f4f4f4;
// 黑点字体颜色
$color_2: #505050;
$color_3: #888;
$color_4: #785922;
$color_5: #d8d8d8;

$fontsize: 18px;
$fontsize_2: 16px;
$fontsize_3: 14px;
$fontsize_4: 12px;
$color_red: #ff3514;
