.chat-list {
  .chat-item {
    padding: 10px;
    border-bottom: 1px solid #EEE;
    background-color: #fefefe;
    flex-wrap: nowrap;
    position: relative;
    cursor: pointer;
    &:hover {
      background-color: #fafafa;
    }
    &.active {
      background-color: #f3f3f3;
    }
  }
  .chat-title {
    margin-bottom: 5px;
  }
  .last-msg {
    color: #999;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
  }
}
.avatar {
  // overflow: hidden;
}
