.chat-detail-page {
  .group-users {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    background-color: #fafafa;
    .user-item {
      text-align: center;
      border-radius: 4px;
      display: inline-block;
      margin: 10px;
      .avatar {
        border-radius: 4px;
      }
      .add-btn {
        border-radius: 4px;
        background-color: #fafafa;
        display: block;
        height: 50px;
        width: 50px;
        line-height: 50px;
        border: 1px solid #EEE;
      }
    }
  }
}
