// @import "../../style/var.scss";
@mixin fill() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
$textInputHeight: 30px;
$textPanelPadding: 5px;
$textPanelHeight: $textInputHeight + $textPanelPadding * 2;
$chatContainerBgColor: #f9f9f9;
$tabsBgColor: #f9f9f9;
$containerBorderRadius: 5px;

$headerH: 40px;

.chat-panel-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  &.drapping {
    .drap-panel {
      display: block;
    }
  }
  .drap-panel {
    border: 5px dashed #DDD;
    background-color: rgba(255,255,255,0.8);
    display: none;
    position: absolute;
    z-index: 4;
    @include fill();
    .drap-area {
      @include fill();
      position: absolute;
      z-index: 5;
    }
    #previewGroup {
      overflow-y: auto;
      height: 100%;
    }
    .preview {
      display: inline-block;
      position: relative;
      z-index: 2;
      width: 33%;
      height: auto;
    }
    .tip {
      display: inline-block;
      width: 100%;
      top: 10%;
      text-align: center;
      color: #999;
      position: absolute;
      font-size: 30px;
      z-index: 1;
    }
    .action {
      background-color: rgba(255,255,255,0.6);
      z-index: 6;
      position: absolute;
      bottom: 10px;
      width: 100%;
      text-align: center;
      .btn {
        margin-right: 5px;
        padding: 5px 18px;
      }
    }
  }
  .scroll-content {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    background-color: $chatContainerBgColor;
    opacity: 0;
    &.ready {
      opacity: 1;
    }
  }
  .msg-panel {
    padding: 10px;
    padding-top: 50px;
    .time-devide {
      color: #999;
      text-align: center;
      position: relative;
      display: block;
      margin: 5px 0;
      time {
        padding: 5px 10px;
        background-color: $chatContainerBgColor;
        position: relative;
        z-index: 1;
      }
      .divide {
        height: 1px;
        top: 10px;
        border: 1px dashed #DDD;
        position: absolute;
        width: 60%;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
    .msg-bubble {
      .fail-msg {
        color: #cb7078;
        margin-right: 10px;
        cursor: pointer;
      }
      .msg-c {
        display: flex;
        margin: 5px 30px;
        word-break: break-all;
      }
      .msg {
        display: inline-block;
        padding: 3px 10px;
        border-radius: 3px;
        color: #FFF;
        background-color: $colorBlue;
        -webkit-user-select: text;
        -ms-user-select: text;
        -moz-user-select: text;
        user-select: text;
      }
      .msg-img {
        height: auto;
        margin: 5px 0 5px;
        border-radius: 4px;
        img {
          max-width: 60%;
        }
      }
      .user-mark {
        padding: 10px 0 0;
        display: flex;
        align-items: center;
        .username {
          margin: 0 10px;
          color: $colorCyan;
        }
      }
      &.me {
        .msg-c {
          flex-direction: row-reverse;
        }
        .msg-img {
          &:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
          }
          img {
            display: block;
            float: right;
          }
        }
        .user-mark {
          flex-direction: row-reverse;
          .username {
            color: $colorBlue;
          }
        }
        .msg {
          background-color: #e6e6e6;
          color: #444;
        }
      }
    }
  }
  .editor-panel {
    padding: 5px;
    background-color: $tabsBgColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 5px 0;
    .icon {
      width: 20px;
      text-align: center;
    }
    .typing-area {
      border: 1px solid #DDD;
      height: $textInputHeight;
      line-height: $textInputHeight;
      border-radius: 3px;
      // width: 90%;
      flex: 1;
      padding: 0 10px;
      &[disabled] {
        background-color: #f3f3f3;
        cursor: not-allowed;
      }
      &:focus {
        outline: none;
        border-color: $colorCyan;
      }
    }
    .item {
      cursor: pointer;
      &:hover {
        color: $colorRed;
      }
    }
  }
}
