.chat-list {
  .chat-item {
    padding: 0 5px 0 5px;
    // margin-bottom: 5px;
    // border-bottom: 1px solid #EEE;
    background-color: #fefefe;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    cursor: pointer;
    &:hover {
      background-color: #fafafa;
    }
    &.active {
      background-color: #f3f3f3;
    }
    .content {
      flex: 1;
      padding: 10px 0;
      border-bottom: 1px solid #EEE;
    }
    .__avatar  {
      padding-top: 5px;
    }
  }
  .chat-title {
    margin-bottom: 5px;
  }
  .last-msg {
    color: #999;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
  }
}
.avatar {
  // overflow: hidden;
}
