.contact-list {
  .c-item {
    padding: 0 10px;
    // border-bottom: 1px solid #EEE;
    display: flex;
    align-items: center;
    &:focus,&:hover {
      background-color: #f7f7f7;
    }
    .__avatar {
      padding: 5px 0;
    }
    .name {
      flex: 1;
      padding: 15px 0;
      display: inline-block;
      border-bottom: 1px solid #EEE;
    }
  }
}

.contact-detail {
  height: 100%;
  background-color: #fafafa;
}

.contact-info {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  .__avatar {
    margin-right: 10px;
  }
}
