$tabHeight: 50px;

.main-container {
  .route-item {
    @include fill;
    padding-bottom: $tabHeight;
    visibility: hidden;
    height: calc(100vh - $tabHeight);
    overflow: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    &.active {
      visibility: visible;
    }
  }
}
