$tabHeight: 50px;
$headHeight: 50px;

body {
  @include fill;
  overflow: hidden;
}

// #Main, .little-chat-app, .container, .main-container {
//   height: 100%;
// }
.chat-list, .contact-list {
  .uke-avatar .avatar {
    overflow: hidden;
    // border-radius: 3px;
    margin-right: 10px;
  }
}

// .avatar {
//   border-radius: 4px;
// }

.main-container {
  // @include fill;
  // height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: $tabHeight;
  background-color: #FFF;
  .page-item {
    @include fill;
    // height: 100%;
    visibility: hidden;
    // height: calc(100vh - #{$tabHeight});
    .page-content {
      height: 100%;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
    &.active {
      visibility: visible;
    }
    &.has-header {
      .page-content {
        padding-top: $headHeight;
        // height: calc(100vh - #{$tabHeight + $headHeight});
      }
    }
  }
}
.route-header {
  height: $headHeight;
  box-shadow: 0 2px 4px rgba(#000, 0.06);
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  .back-btn {
    position: absolute;
    left: 0;
    padding: 20px;
  }
}
