.contact-list {
  .c-item {
    padding: 10px;
    border-bottom: 1px solid #EEE;
    &:focus,&:hover {
      background-color: #f7f7f7;
    }
  }
}

.contact-detail {
  height: 100%;
  background-color: #fafafa;
}

.contact-info {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  .username {
    margin-left: 10px;
  }
}
