$tabsBgColor: #f9f9f9;
$textPanelPadding: 5px;
$textInputHeight: 16px;
$textPanelHeight: $textInputHeight + $textPanelPadding * 2;

.editor-panel {
  padding: 8px 0;
  background-color: $tabsBgColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 5px 0;
  position: relative;
  // position: absolute;
  // bottom: 0;
  // left: 0;
  // right: 0;
  box-shadow: 0 -2px 3px rgba(#000, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 111;
  .icon {
    width: 20px;
    text-align: center;
  }
  .typing-area {
    border: 1px solid #DDD;
    // height: $textInputHeight;
    line-height: $textInputHeight;
    border-radius: 3px;
    // width: 90%;
    flex: 1;
    padding: 8px 10px;
    width: 100%;
    max-height: 100px;
    overflow-y: auto;
    &[disabled] {
      background-color: #f3f3f3;
      cursor: not-allowed;
    }
    &:focus {
      outline: none;
      border-color: $themeColor;
    }
  }
  .item {
    cursor: pointer;
    padding: 5px 0;
    min-width: 30px;
    border: 1px solid transparent;
    text-align: center;
  }
  .send-btn {
    background-color: $themeColor;
    color: #FFF;
    border-radius: 3px;
    border-color: $themeColor;
    width: 40px;
    margin-right: 5px;
  }
  .more-btn {
    height: 30px;
    width: 30px;
    border-color: #DDD;
    border-radius: 50%;
    margin: 0 5px;
    color: #888;
  }
  .face-picker {
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 22px;
    text-align: center;
    margin: 0 5px;
  }
}

.face-options-container {
  position: absolute;
  bottom: 120%;
  right: 10px;
}
