.section-mark {
  // pointer-events: none;
}

.img-prev {
  .close-btn {
    right: 0;
    position: absolute;
    z-index: 1111;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: $themeColor;
  }
}
.img-wrapper {
  height: 100%;
  width: 100%;
  ._img {
    max-width: 100%;
    max-height: 100%;
  }
}
