$navHeadHeight: 50px;
$blurLV: 3px;

.navigator-page {
  @include fill;
  // height: 100vh;
  overflow: auto;
  background-color: #FFF;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  .navigator-content {
    // height: calc(100vh - #{$navHeadHeight});
    height: 100%;
    padding-top: $navHeadHeight;
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.navigator-header {
  height: $navHeadHeight;
  // box-shadow: 0 2px 4px rgba(#000, 0.06);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .bg {
    @include fill;
    // position: absolute;
    // top: - $blurLV;
    // bottom: - $blurLV;
    // left: - $blurLV;
    // right: - $blurLV;
    // opacity: 0.8;
    z-index: -1;
    background-color: rgba(#f9f9f9, 0.95);
    // filter: blur($blurLV);
  }
  .back-btn {
    position: absolute;
    left: 0;
    padding: 20px;
  }
  .right-btns {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    .action {
      padding: 0 10px;
    }
  }
}
