@import './index.scss';

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.little-chat-app {
  // height: 100%;
  &.pc {
    @include fill;
    background-color: #EEE;
    .container {
      background-color: #FFF;
      width: 320px;
      height: 640px;
      position: relative;
      margin: 20px auto;
    }
  }
}
