@import "ukelli-ui/style/color/default.scss";
@import "ukelli-ui/style/mixin/index.scss";

$colorBlue: #449bea;
$colorBlueLight: #23b1ed;
$colorPurple: #7474e4;
$colorPurpleLight: #a974e4;
$colorOrange: #ff9800;
$colorBlackPrue: #01040d;
$colorBlack: #2e2e2f;
$colorGold: #fcd477;

$borderRadius: 4px;

$themeColor: $colorBlue;


